# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# STM32CubeIDE Files
Binaries/
Includes/
Startup/
Debug/
STM32G431RBTX_FLASH.ld
syscalls.c
sysmem.c
.settings/org.eclipse.core.resources.prefs
MPCDroneSoftware/.settings/org.eclipse.core.resources.prefs
.cproject
.project

# Temporary files
*.lck
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# macOS stuff
.DS_Store
.metadata/

# Testing files
test/
